<div>
    <div class="sampleNote">
        <h6 class="sampleHeader">{{receiveTitle}}</h6>
        <!-- <div>
            <p>time stamp</p>
            <p>description for the note</p>
        </div> -->
    </div>
    <div class="noteList" *ngFor="let note of NotesList">
        <h6 class="sampleHeader">{{note}}</h6>
        <!-- <div>
            <p>time stamp</p>
            <p>description for the note</p>
        </div> -->
    </div>
    <div >
        <h3 class=""></h3>
        <p></p>
    </div>
</div>