.sampleNote {
    overflow: auto;
    height: 7em;
    background-color: #FAEDBE;
    border-bottom: 1px solid #FFF;
}
.sampleHeader {
    margin: 10px 10px;
    font-style: italic;
}

.noteList {
    overflow: auto;
    /* height: 7em; */
    background-color: #DDD;
    margin-bottom: 6px;
}

.selectedItem{
    box-shadow: 0 0 3px #222324;
}