.navigation_container {
    height: 60px;
}
.navbar {
    background-color: #e1dde2 !important;
    position: fixed;
    width: 100%;
    height: 60px;
}

.nav-link {
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.navbar-nav {
    flex-direction: row;
}

.searchbox {
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
}

.notes_container {
    background-color: #fbfbf8;
}

.list_container {
    vertical-align: top;
    width: 25%;
    display: inline-block;
    height: calc(100vh - 70px);
    border-right: 1px solid #e1dde2;
    padding: 8px;
    overflow-y: auto;   
}

.display_container {
    vertical-align: top;
    width: 75%;
    display: inline-block;
    height: calc(100vh - 70px);
    padding: 8px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    #main {
      width: 98%;
    }
    #sidePanel {
        width: 0%;
    }
}